.row {
    max-width: 1200px;
    margin: auto;
}
.people{
    min-height: 68vh;
}
.item-user {
    margin-bottom: 10px;
}

.item-user .user-name{
    margin-top: 15px;
}

.user-name .name a{
    font-size: 18px;
    font-weight: bold;
    color: #000 !important;
}

.item-user .image_user{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 10px;
    margin-right: 15px;
}

.item-user .image_user img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1rem !important;
}

.follow-boton{
    width: 10em;
    height: 2em;
    display: flex;
    color: white;
}

.follow-boton button {
    flex-basis: 0;
    flex-grow: 1;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



